body {
    background-image: url(abstract-seamless-pattern-small-rings-pixels-red-colors_444390-1970.avif);
}

.szoveg{
    line-height: 2;
}

.szoveg h2{
    text-align: center;
}

.fejlec{
    text-align: center;
}

.kepek{
    margin-left: 50px;
    margin-right: 50px;
}

.jelen{
    text-decoration: underline;
    font-weight: bold;
    color: crimson;
}