body{
    background-image: url(képek/8Háttér/abstract-seamless-pattern-small-rings-pixels-red-colors_444390-1970.avif);
}

ul{
    list-style-type: circle;
}

.kiemelt{
    color: darkred;
    font-weight: bold;
}

.szoveg{
    line-height: 2;
}

.szoveg h1{
    text-align: center;
}

.szoveg h2{
    text-align: left;
}

.fejlec{
    text-align: center;
}

.kepek{
    margin-left: 50px;
    margin-right: 50px;
}

.center{
    margin-left: 200px;
}

.jelen{
    text-decoration: underline;
    font-weight: bold;
    color: crimson;
}

h2{
    color: white;
}

hr{
    color: white;
}

.card {
    border-radius: 25px;
    margin: 40px auto;
}

.lablec{
    background-color: rgb(24, 24, 24);
    color: white;
    margin-top: 100px;
    padding: 10px;
    font-size: small;
    text-align: center;
}

.correct{
    color: red;
}